:root {
    // --font-display: "Josefin Sans", sans-serif;
    // --font-content: "Nunito", sans-serif;

    --color-sidebarbg: #b95637;
    --color-headerbg: #66076f;
    --color-realtorsbg: #de93b7;
    --color-fearuresbg: #7b6b5f;
    --color-picturesbg: #175f81;
    --color-contentbg: #f7f7f7;
    --color-homesbg: #79008c;
    --color-gallerybg: #4a726c;
    --color-footerbg: #000500;

    --color-primary: #ba6c00;

    --color-bg: #f7f7f7;
}
